// Primary colors
$soft-red-color: hsl(7, 99%, 70%);
$yellow-color: hsl(51, 100%, 49%);
$dark-cyan-color: hsl(167, 40%, 24%);
$dark-blue-color: hsl(198, 62%, 26%);
$moderate-cyan-color: hsl(168, 34%, 41%);
$sky-color: hsl(200, 100%, 62%);

$h1: 3rem;
$h2: 2.5rem;
$h3: 2rem;

$max-width: 1425px;